* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    font-family: sans-serif;
}

section {
    padding-bottom: 40px;
}

a {
    color: #4e3e3e;
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 20px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-red {
    border: 1px solid red;
}

.text-big {
    font-size: 22px;
}